#bar{
    height: 60px;
    padding-top: 10px;
}
#anker{
    text-decoration: none;
    color: black;
}
#bar1, #bar2, #bar3, #bar4, #bar5{
    font-size: x-large;

}
#bar1{
    padding-left: 25px;
    padding-top: 5px;
}
#bar2{
    position: relative;
    right: 38px;
    top: 1px;
    background-color: rgb(197, 193, 193);
    padding: 7px 7px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}
#bar3{
    position: relative;
    right: 25px;
    top: 8px;
}
#bar5{
    position: relative;
    left: 225px;
    top: 4px;
}
#photo{
    width: 120px;
    height: 43px;
    padding-left: 20px;
}
#photo1{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 255px;
    top: 4px;
}
#input{
    border: none;
    height: 40px;
    width: 600px;
    border: outset;
    border: 1px solid black;
    border-radius: 40px;
    margin-left: 200px;
    padding-left: 10px;
    font-size: 18px;
    font-family: sans-serif;
}
#photo2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
}
li{
    list-style-type: none;
    padding-bottom: 10px;
    padding: 10px 20px;
}
li:hover{
    border: 1px solid lightgrey;
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}
#scroll{
    overflow-y: scroll;
    width: 270px;
    height: 600px;
    position: fixed;
}
#bar6, #bar7, #bar8, #bar9, #bar10, #bar11, #bar12, #bar13, #bar14, #bar15, #bar15, #bar16, #bar17{
    font-size: x-large;
}
#size{
    margin-left: -20px;
}
#move{
    display: inline;
    border: 1px solid yellow;
    background-color: lightgrey;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    position: relative;
    left: 260px;
    top: 25px;
    margin-left: 15px;
}
#move:hover{
    cursor: pointer;
    background-color: black;
    color: #fff;
}
#photo2{
    width: 45px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
}
#pic5{
    width: 500px;
    height: 280px;
    border-radius: 10px;
}
#flex{
    position: absolute;
    top: 140px;
    left: 285px;
}
#display{
    position: absolute;
    top: 490px;
    left: 285px;
}
#inline{
    position: absolute;
    top: 830px;
    left: 285px;
}
#site{
    margin-left: 20px;
}
p{
    font-size: x-large;
    padding-left: 10px;
}
b{
    
    padding-left: 20px;
}